#login-form-container {
	color: #ffffff;
	text-align: center;
	font-family: Roboto;
}
.container-inner {
	display: inline-block;
	margin: 100px auto;
	background-color: #3a8bcd;
    width:500px;
	padding: 20px 30px;
}
#role {
    width: 173px;
}
#login {
	padding: 20px 30px;
}
#login input:not(#form-submit) {
	width: 100%;
    height: 46px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    outline: none;
    padding: 4px 15px;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#form-submit {
	width: 100%;
    height: 45px;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    color: #3a8bcd;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-decoration: none;
    transition: all 0.5s;
    box-shadow: none;
    border: none;
}
#form-submit:hover {
	color: #fff;
	background-color: #3a8bcd;
	border: 1px solid #fff;
	transition: 0.5s;
}
#login input::-webkit-input-placeholder {
    color:#fff;
}
#login input::-moz-placeholder {
    color:#fff;
}
#login input::-ms-placeholder {
    color:#fff;
}
#login input::placeholder {
    color:#fff;
}