html {
    height: 100%
}
body {
    min-height: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/* Wygląd panelu bocznego */
.sidebar-left {
    width: 200px;
    background-color: #23282f;
    display: inline-flex;
}
.sidebar-left .backend-navigation {
    width: 100%;
}
.sidebar-left .backend-navigation-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sidebar-left .backend-navigation-list .dropdown {
    list-style: none;
    padding: 0px;
    transition: max-height 3s ease-out 3s;
    max-height: 0;
    overflow: hidden;
    background-color: #2e343e;
}
.sidebar-left .backend-navigation-list .dropdown li{
    padding: 10px 15px;
}
.sidebar-left .backend-navigation-list .users-link:hover .dropdown, .sidebar-left .backend-navigation-list .products-link:hover .dropdown,
.sidebar-left .backend-navigation-list .category-link:hover .dropdown{
    transition: max-height 3s ease-out 0s;
    max-height: 999px;
}
.sidebar-left .backend-navigation-list .backend-navigation-element {
    padding: 10px 15px;
}
.sidebar-left .backend-navigation-list .backend-navigation-link {
    color: #9ea1a9;
    text-decoration: none;
}
.sidebar-left .backend-navigation-list .backend-navigation-link:hover {
    color: #ffffff;
}
.sidebar-left .backend-navigation-list .backend-navigation-link:hover .backend-navigation-element {
    background-color: #444d5b;
}

/* Wygląd zawartości każdej z podstron */
.content {
    display: inline-flex;
    height: 100%;
    width: 100%;
}
.content-inside{
    width: 100%;
    padding: 0px 40px;
}
.backend-page-title {
    color: #fff;
    padding: 10px 20px;
    border-radius: 0px 0px 30px 0px;
    display: inline-block;
}

/* kolorystyka menadżera uzytkowników */
.user-manager .backend-page-title, .user-manager .data .user-list-header-item, .user-manager .pages-list a:hover div,
.user-manager .pages-list .pagination-active, .user-manager .submit-element input[type=submit], .project-list-header-item {
    background-color: #6c7ae0;
}
.user-manager .pages-list a div {
    border-color: #6c7ae0;
}
.user-manager .submit-element input[type=submit]:hover {
    background-color: #96a0e9;
}

/* kolorystyka menadżera uzytkowników */
.ticket-manager .backend-page-title, .ticket-manager .data .ticket-list-header-item, .ticket-manager .pages-list a:hover div,
.ticket-manager .pages-list .pagination-active, .ticket-manager .submit-element input[type=submit] {
    background-color: #e4d27a;
}
.ticket-manager .pages-list a div {
    border-color: #e4d27a;
}
.ticket-manager .submit-element input[type=submit]:hover {
    background-color: #ede0a4;
}

/* kolorystyka ustawień głównych */
.general-conf .backend-page-title, .general-conf .submit-element input[type=submit],
.general-conf .activate-tab-bar, .general-conf .activate-tab-button {
    background-color: #E08C6C;
}
.general-conf .activate-tab-button:hover, .general-conf .activate-tab-bar .active {
    background-color: #fff;
    color: #E08C6C;
}
.general-conf .submit-element input[type=submit]:hover {
    background-color: #E8AC96;
}

.general-conf .input-element {
    margin: 0px
}
.general-conf .input-section {
    margin-bottom: 20px;
}
.general-conf .input-section-title {
    margin: 0px;
    color: #E08C6C;
    border-bottom: 2px solid #E8AC96;
    max-width: 300px;
    padding: 5px 0px;
    margin-bottom: 5px;
}

/* kolorystyka menadżera produktów */
.ticket-manager .backend-page-title, .ticket-manager .data .ticket-list-header-item, .ticket-manager .pages-list a:hover div,
.ticket-manager .pages-list .pagination-active, .ticket-manager .submit-element input[type=submit] {
    background-color: #c0e06c;
}
.ticket-manager .pages-list a div {
    border-color: #c0e06c;
}
.ticket-manager .submit-element input[type=submit]:hover {
    background-color: #d2e996;
}

/* kolorystyka edytora strony głównej */
.homepage-editor .backend-page-title, .homepage-editor .submit-element input[type=submit],
.homepage-editor .activate-tab-bar, .homepage-editor .activate-tab-button {
    background-color: #e46874;
}
.homepage-editor .activate-tab-button:hover, .homepage-editor .activate-tab-bar .active {
    background-color: #fff;
    color: #e46874;
}
.homepage-editor .submit-element input[type=submit]:hover {
    background-color: #f39ca0;
}

.homepage-editor .input-element {
    margin: 0px
}
.homepage-editor .input-section {
    margin-bottom: 20px;
}
.homepage-editor .input-section-title {
    margin: 0px;
    color: #e46874;
    border-bottom: 2px solid #f39ca0;
    max-width: 300px;
    padding: 5px 0px;
    margin-bottom: 5px;
}

/* kolorystyka menadżera produktów */
.ticket-manager .backend-page-title, .ticket-manager .data .ticket-list-header-item, .ticket-manager .pages-list a:hover div,
.ticket-manager .pages-list .pagination-active, .ticket-manager .submit-element input[type=submit] {
    background-color: #c0e06c;
}
.ticket-manager .pages-list a div {
    border-color: #c0e06c;
}
.ticket-manager .submit-element input[type=submit]:hover {
    background-color: #d2e996;
}

/* kolorystyka menadżera mediów */
.media-manager .backend-page-title, .media-manager .data .ticket-list-header-item, .media-manager .pages-list a:hover div,
.media-manager .pages-list .pagination-active, .media-manager .submit-element input[type=submit], .ticket-manager .showButton {
    background-color: #c0e06c;
}
.media-manager .pages-list a div {
    border-color: #c0e06c;
}
.media-manager .submit-element input[type=submit]:hover {
    background-color: #d2e996;
}
.media-manager .all-images-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    vertical-align: middle;
}
.media-manager .all-images-container div {
    max-width: 200px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 5px;
    z-index: 1;
    transition: all 0.5s;
    position: relative;
}
.media-manager .fixed-image-size  {
    max-height: 200px;
    text-align: center;
    min-height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.media-manager .all-images-container div:hover {
    transform: scale(1.2);
    z-index: 2;
}
.media-manager .all-images-container .image-text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
}

#ImageChooseWindow {
    position: fixed;
    top: 5%;
    right: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: #ffffff;
    display: none;
}
#ImageChooseWindow .hideButton {
    background-color: #ff5a4d!important;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}
#ImageChooseWindow #MediaFrame {
    width: 100%;
    display: block;
    height: 100%;
}

/* Wygląd tabeli z danymi */
.filters {
    background-color: #f8f6ff;
    padding: 20px;
    margin-bottom: 10px;
}
.data {
    width: 100%;
    border-spacing: 0px;
}
.data .user-list-header td:first-child, .data .ticket-list-header td:first-child,
.data .ticket-list-header td:first-child,
.project-list-header td:first-child {
    border-radius: 30px 0px 0px 0px;
}
.data .user-list-header td:last-child, .data .ticket-list-header td:last-child,
.data .ticket-list-header td:last-child,
.project-list-header td:last-child {
    border-radius: 0px 30px 0px 0px;
}
.data .user-list-header-item, .data .ticket-list-header-item,
.data .ticket-list-header-item,
.project-list-header-item {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
}
.data .user-row-item, .data .ticket-row-item,
.data .project-row-item {
    font-size: 15px;
    color: gray;
    line-height: 1.4;
    padding: 10px 0px 10px 20px;
}
body .data tbody .user-row:nth-child(even), body .data tbody .ticket-row:nth-child(even),
body .data tbody .project-row:nth-child(even) {
    background-color: #f8f6ff!important;
}
.pages-list {
    padding: 20px 20px 100px 20px;
    text-align: center;
}
.pages-list a div {
    display: inline-block;
    padding: 10px;
    background-color: #f8f6ff;
    border-width: 1px;
    border-style: solid;
}
.pages-list a:hover div {
    color: #ffffff;
}
.pages-list .pagination-active {
    color: #ffffff!important;
}
.pages-list .three-dots-sep {
    display: inline-block;
}
.info-msg {
    color: red;
}

/* Wygląd formularzy */
.input-element input[type=number] {
    width: 75px;
}
.input-element select {
    width: 200px;
}
.input-element select:not(:first-of-type) {
    display: none;
}
.input-element input[type=text], .input-element input[type=email], .input-element input[type=date], .input-element input[type=password] {
    width: 300px;
}
.input-element input[type=text], .input-element input[type=email], .input-element input[type=date], .input-element textarea,
.input-element input[type=password], .input-element select, .input-element input[type=number], .input-element textarea {
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.user-manager .input-element, .ticket-manager .input-element,
.media-manager .input-element, .ticket-manager .input-element {
    display: inline-block;
}

.media-manager .input-element input[type=submit] {
    margin-right: 20px;
}

.submit-element input[type=submit], .ticket-manager .showButton {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.user-manager .submit-element input[type=submit]{
    width: 100%;
}
.general-conf .submit-element input[type=submit], .homepage-editor .submit-element input[type=submit]{
    min-width: 300px;
}

/* wygląd tabów */
.activate-tab-button {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    padding: 5px 10px;
    text-align: center;
    border: none;
}
.activate-tab-bar {
    margin-bottom: 25px;
}

.plus-button {
    font-size: 25px;
    /*align-items: center;*/
    color: #6c7ae0;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.plus-button:hover {
    color: #4CAF50;
}

.minus-button {
    font-size: 25px;
    /*align-items: center;*/
    color: #6c7ae0;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.minus-button:hover {
    color: #F44336;
}