@charset "UTF-8";
.Navbar {
  background-color: #23282f;
  display: flex;
  font-family: sans-serif;
  color: #9ea1a9;
}
.Navbar__Link {
  padding-right: 8px;
  padding: 10px;
  position: relative;
}
.Navbar a {
	color: #9ea1a9;
}
.Navbar a:hover, .Navbar__Link:hover {
	background-color: #444d5b;
	color: #ffffff!important;
}
.display-user-name {
	position: relative;
	display: inline-block;
	min-width: 160px;
	text-align: center;
}
.Navbar__Items--right .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 44px;
  left: 0px;
}
.Navbar__Items--left .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 44px;
    left: 0px;
}
.Navbar__Items--left {
    list-style: none;
}
.dropdown-content ul {
    list-style: none;
    padding: 0px;
    margin-bottom:0px;
}
.dropdown-content ul li {
    padding: 12px 16px;
    margin-bottom: 0px;
}
.dropdown-content ul a li {
    border-bottom: 1px solid #9ea1a9;
}
.dropdown-content ul a:last-child li{
    border-bottom: none!important;
}
.dropdown-content ul a:hover li {
    background-color: #cbdae1;
    transition: 0.3s;
}
.display-user-name:hover .dropdown-content {
    display: block;
}
.Navbar__Link:hover .dropdown-content {
    display: block;
}
.Navbar__Items {
    display: flex;
}

.Navbar__Items--right {
    margin-left:auto;
}

.Navbar__Link-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

.Navbar__Items {
    display:none;
  }

.Navbar__Items--right {
    margin-left:0;
    display:block;
  }
    
.Navbar__ToggleShow {
    display: flex;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   }
}